/* Format the input fields */
div {
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius:10px;
	margin: 5px;
}

/* Format the input fields */
input[type=number], select {
	background-color: lightgray;
	width: 10%;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
}

/* Format the submit button */
input[type=submit] {
	color: antiquewhite;
	background-color: #1e90fc;
	height: 25px;
	width: 60px;
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
}
