.main {
  background-color: c0c0c0;
  height: 10%;
  width: 70%;
  border-radius: 10px;
  margin: 10px auto;
  overflow-x: auto;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.myPTags {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

label {
  text-align: end;
}

input[type="text"] {
  height: 30px;
  width: 50%;
  border-width: 1px;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: antiquewhite;
  height: 30px;
  width: 60px;
  margin: 3px;
  padding: 3px;
  border-radius: 5px;
}

button {
  height: 30px;
  width: 60px;
  margin: 3px;
  padding: 3px;
  border-radius: 5px;
}

table {
  /* adds 10px to top & bottom and centers the table */
  background-color: white;
  color: black;
  margin: 10px auto;
  width: 80%;
}

thead {
  background-color: lightblue;
}

td {
  width: 30%;
}

tr {
  height: 50px;
}

tr:hover {
  background-color: #f5f5f5;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.left {
  padding-left: 15px;
  text-align: left;
}

.btn {
  text-decoration: none;
  background-color: lightgrey;
  color: black;
  height: 30px;
  width: 60px;
  margin: 3px;
  padding: 3px;
  border-radius: 5px;
}

.errorMsg {
  background-color: red;
  color: white;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
}
