.main {
	background-color: lightgrey;
	height: 10%;
	width: 40%;
	margin: 10px 10px 10px 30%;
	padding: 5px;
	border-radius: 10px;
}

input[type=text] {
	width: 25%;
	margin: 5px;
	padding: 3px;
	border-width: 1px;
	border-radius: 5px;
}

input[type=submit] {
	background-color: deepskyblue;
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
}

button {
	background-color: black;
	color: white;
	margin: 5px;
	padding: 3px;
	border-radius: 5px;
}